{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead creepster">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/guides/getting-started/" role="button">{{ i18n "get_started" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-img"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="column justify-content-center text-center">
      <p>Abyss is the easy way to integrate with your agents across networked boundaries like Docker.</p>
      <p>It's a playpen for AI.  You choose what you want to copy in, what you want to actually expose,
        and Abyss takes care of managing the container for you.</p>
      <p>You can even manage separate agents, with separate containers and resources.  Swap seamlessly between them
        with Zed, or any of your other favorite ACP clients.</p>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="object-contain rounded-xl overflow-hidden">
              <img style="width: 100%" src="/img/ragebait/see-no-evil.png" />
          </div>
          <h2 class="h4">See No Evil</h2>
          <p>Keep secrets from your agent.  Abyss only makes things visible to your agent when you tell it to, otherwise your agent lives in the dark.</p>
        </div>
        <div class="col-lg-5">
          <img src="/img/ragebait/hear-no-evil.png" />
          <h2 class="h4">Hear No Evil</h2>
          <p>Isolate your agent's networking, one day.  This feature isn't done, but I liked the styling.</p>
        </div>
        <div class="col-lg-5">
          <img src="/img/ragebait/fish-need-fingers-too.png" />
          <h2 class="h4">Speak No Evil</h2>
          <p>Prevent your agent from leaking into production by keeping its greedy mitts off your production secrets.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Read the docs</h2>
          <p>Learn more in the <a href="/docs/guides/what-is-abyss/">Docs</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/guides/getting-started/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
